body {
    background-color: #18002d;
}

.heading {
    display: flex;
    font-size: 200px;
    color: white;
    font-family: Ebrima, sans-serif;
    margin-left: 50px;
}

button {
    border-radius: 40px;
    margin-left: 500px;
    margin-bottom: 225px;
    flex-grow: 1;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.container {
    height: 200px;
}

.data-block {

}


.search-line {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 40px;
    width: 500px;
    outline: none;
    font-size: 30px;
    flex-grow: 1;
    color: rgb(128, 128, 128);
}