body{
    background: rgb(24,0,45);
    background: linear-gradient(180deg, rgba(24,0,45,1) 55%, rgba(54,0,101,1) 80%);
    width: 100%;
    min-height: 100vh;
  }
@font-face {
    font-family: Lydia-Bold;
    src: url(LydiaSansBold.ttf);
}
@font-face {
    font-family: Lydia-Light;
    src: url(LydiaSansLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.refresh-button {
    background: url('../../images/icons8-refresh-30.png') no-repeat center center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.add-item-button {
    background: url('../../images/add.png') no-repeat center center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    filter: invert(1) brightness(2);
}
.image-button:hover {
    opacity: 0.8;
}

.search-item-info {
    margin-left: 15px;
}
.search-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.search-bar {
    font-family: Lydia-Light, sans-serif;
    font-size: large;
    border-radius: 30px;
    background-color: #d9d9d9;
    white-space: nowrap;
    justify-content: center;
    padding: 13px 25px;
    width: auto;
    cursor: pointer;
    margin: 10px 15px 10px;
}

.unsuccessfull-search {
    font: 1.17em Lydia-Light;
    display:flex ;
    justify-content:center;
    align-items: center;
}



@media (max-width: 480px) {
    .search-bar {
        width: 15em;
    }
}

.main-content {
    align-self: auto;
    width: 100%;
}

.add-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    filter: invert(1) brightness(2);
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.butt {
    margin-left: 2%;
    display: flex;
    justify-content: inline;
}


