body{
    background: rgb(24,0,45);
    background: linear-gradient(180deg, rgba(24,0,45,1) 55%, rgba(54,0,101,1) 80%);
  }
  @font-face {
    font-family: Lydia-Bold;
    src: url(LydiaSansBold.ttf);
}
@font-face {
    font-family: Lydia-Light;
    src: url(LydiaSansLight.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;

}


.search-bar-container{
    margin-bottom: 3%;
}

.search-bar {
    font-family: Lydia-Light;
    font-size: large;
    border-radius: 30px;
    background-color: #d9d9d9;
    white-space: nowrap;
    justify-content: center;
    padding: 13px 25px;
    width: 21em;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;

}

.main-content {
    align-self: auto;
    width: 100%;
    max-width: 958px;
}

.form-column {
    
    display: grid;
    grid-column: column;
    line-height: normal;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.product-list {
    margin-top: 10px;
    border-radius: 30px;
    background-color: #d9d9d9;
    width: 100%;
    max-width: 991px;
    height: auto;
}

.info-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
}

.item {
    padding: 10px;
    display: inline-flex ;
    justify-content: space-between;
    align-items: center;
}
.item img {
    width: 30%;
    height: 30%;
    border-radius: 20px;
}
.all-item-info {
    flex-grow: 1;
    margin-left: 5%;
}
.item-name,
.item-id,
.item-quantity,
.item-price {
    margin: 5px 0;
    font-family: Lydia-Light;
    font-size: 100%
}
.add-button {
    width: 30px;
    height: 30px;
}
.add-button:hover{
    background-color: #8a8a8a;
    border-radius: 8px;
}
.add-button:active{
    background-color: #333333;
    border-radius: 8px;
}
.butt {
    margin-left: 2%;
    display: flex;
    justify-content: inline;
}
#quantity-form{
    font-family: Lydia-Light;
    font-size: medium;
    margin-right: 10px;
    min-width: 1em;
    max-width: 4em;
    height: auto;
    border-radius: 10px;
}

