body{
    background: rgb(24,0,45);
    background: linear-gradient(180deg, rgba(24,0,45,1) 55%, rgba(54,0,101,1) 80%);
  }
  @font-face {
    font-family: Lydia-Bold;
    src: url(LydiaSansBold.ttf);
}
@font-face {
    font-family: Lydia-Light;
    src: url(LydiaSansLight.ttf);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;

}
    
.main-content {
    align-self: auto;
    width: 100%;
}

#no-items-in-cart {
    font-family: Lydia-Light;
    font-size: 20px;
    display:flex ;
    justify-content:center;
    align-items: center;
    height: 40px;

}

.info-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}


.clear-cart-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin-bottom: 20px;
}

.clear-cart-button {
    font: 15px Lydia-Light;
    align-items: start;
    border-radius: 30px;
    background-color: #d9d9d9;
    width: 150px;
    color: #000;
    justify-content: center;
    margin: 10px 0 0 15px;
    padding: 2px 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.clear-cart-button:hover{
    box-shadow: 0px 0px 5px 3px #af0000;
}

.clear-cart-button:active{
    box-shadow: 0px 0px 5px 3px #690000;
    background-color: #333333;
    transition: 0.1s;
}

.coeff-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin-bottom: 20px;
}
.coeff-title {
    font: 20px Lydia-Light;
    color: #fff;
    margin: 10px 0 0 15px;
    justify-content: center;


}
.coeff-button {
    font: 15px Lydia-Light;
    text-align: center;
    border-radius: 15px;
    padding-left: 10px;
    width: 70px;
    height: 31px;
    size:initial;
    color: #000;
    justify-content: center;
    margin: 10px 0 0 15px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.personal-info {
    padding-left: 15px;
}

.full-name,
.phone-number,
.e-mail {
    font-family: Lydia-Light;
    font-size: 20px;
    border-radius: 30px;
    background-color: #d9d9d9;
    white-space: nowrap;
    justify-content: center;
    padding: 13px 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
.full-name:hover,
.phone-number:hover,
.e-mail:hover {
    box-shadow: 0px 4px 40px 0px #af7edb;
}

.full-name:focus-within,
.phone-number:focus-within,
.e-mail:focus-within {
    box-shadow: 0px 4px 40px 0px #af7edb;
}


.summary-container {
    align-self: end;
    display: grid;
    margin-top: 50px;
    width: 225px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    color: #fff;
}

.total-label {
    font-family: Lydia-Light;
    font-size: 30px;
}

.total-amount {
    font: 30px Lydia-Light;
    vertical-align: baseline;
    margin-left: 10px;
    margin-right: 5px;
}
.form-pdf-button {
    font-family: Lydia-Light;
    font-size: 30px;
    align-items: start;
    border-radius: 30px;
    background-color: #d9d9d9;
    width: 100%;
    color: #000;
    justify-content: center;
    margin: 20px 0 40px 0px;
    padding: 5px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.total-wrapper {
    font: 20px Lydia-Bold;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-pdf-button:hover{
    box-shadow: 0px 4px 40px 0px #af7edb;
}

.form-pdf-button:active{
    box-shadow: 0px 4px 40px 0px #af7edb;
    transition: 0.1s;
    background-color: #333333;
}


