body{
    background: rgb(24,0,45);
    background: linear-gradient(180deg, rgba(24,0,45,1) 55%, rgba(54,0,101,1) 80%);
  }
  @font-face {
    font-family: Lydia-Bold;
    src: url(LydiaSansBold.ttf);
}
@font-face {
    font-family: Lydia-Light;
    src: url(LydiaSansLight.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;

}
    
.main-content {
    align-self: auto;
    width: 100%;
}


.info-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin-bottom: 40px;
}

.personal-info {
    padding-left: 25px;
    padding-right: 25px;
}

.full-name,
.phone-number,
.e-mail {
    font-family: Lydia-Light;
    font-size: large;
    border-radius: 30px;
    background-color: #d9d9d9;
    white-space: nowrap;
    justify-content: center;
    padding: 13px 25px;
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
}
.full-name:hover,
.phone-number:hover,
.e-mail:hover {
    box-shadow: 0px 4px 40px 0px #af7edb;
}

.full-name:focus-within,
.phone-number:focus-within,
.e-mail:focus-within {
    box-shadow: 0px 4px 40px 0px #af7edb;

}


.summary-container {
    align-self: end;
    display: flex;
    margin-top: 50px;
    width: 225px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    color: #fff;
}

.total-label {
    font-family: Lydia-Light;
    font-size: 1.5em;
}

.total-amount {
    font: 1em Lydia-Light;
    align-self: stretch;
}
.form-pdf-button {
    font-family: Lydia-Light;
    font-size: 30px;
    align-items: start;
    border-radius: 30px;
    background-color: #d9d9d9;
    width: 100%;
    color: #000;
    justify-content: center;
    margin: 20px 0 0 0px;
    padding: 5px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.form-pdf-button:hover{
    box-shadow: 0px 4px 40px 0px #af7edb;
}

.form-pdf-button:active{
    box-shadow: 0px 4px 40px 0px #af7edb;
    background-color: #333333;
}


