<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\styles\cart\cart.css">
    <script src="..\static\js\cart.js"></script>
    <title>Cart</title>
</head>

<body>
<section class="cart-container">
    <header class="cart-header">
        <h1 class="cart-title">CART</h1>
        <div class="back-button-container" onclick="window.location.href='main.html'">
            <div class="back-button">BACK</div>
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5403d94facc52db0e0183bc219a7cf4bf570b62cca11f4397029438bd455acac?apiKey=07449926caf0434fa474b0526b0d5b23&" alt="Profile Image" class="back-icon" />
        </div>
    </header>
    <main class="main-content">
        <div class="content-wrapper">
            <div class="form-column">
                <div class="product-list" id="product-list">
                    <!-- {%for value in universities.values()%} -->
                    <div class="cart-item">
                        <!-- <img src="{{value['image']}}" alt="Item Image"> -->
                        
                        <img src="..\images\item_preview.jpg" class="cart-item" alt="Item Image">
                        <div class="cart-item-info">
                            <div class="item-name">{{value['name']}}</div>
                            <div class="item-id">{{value['id']}}</div>
                            <div class="item-quantity">{{value['quantity']}}</div>
                            <div class="item-price">Price: {{value['price']}} rub</div>
                        </div >
                    </div>
                    <div class="butt">
                        <form action="\quantity" method="get">
                            <input type="number" name="quantity-form" pattern="\d*" id="quantity-form" step="1" min="1" value="1" placeholder="Enter the quantity">
                        </form>
                    
                        <button class="remove-button" onclick="removeItem()"></button>

                    </div>
        
                    <hr width=90%>
                    <!-- {%endfor%} -->
                    
                </div>
                
            </div>
            
        </div>
        <div class="info-container">
            <form action="\personal-form" method="get">
                <input type="text" id="FIO" name="FIO" class="full-name">
                <input type="text" id="phone" name="phone" class="phone-number">
                <input type="text" id="email" name="email" class="e-mail">
            </form>
            
        </div>
        <div class="summary-container">
            <div class="total-label">Total:</div>
            <div class="total-amount" id="total-amount">300 rub</div>
            <button class="form-pdf-button" onclick="generateTxtFile()">Form PDF</button>
        </div>
    </main>
</section>
</body>
</html>