<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\styles\cart\cart.css">
    <link rel="stylesheet" href="..\static\styles\common\navbar\navbar.css">
    <link rel="stylesheet" href="..\static\styles\common\list_of_items\list_of_items.css">
    <script src="static\js\cart.js"></script>
    <script src="static\js\objects.js"></script>
    <title>Cart</title>
</head>

<body>
    <header class="header">
        <h1 class="display-cur-page">CART</h1>

        <nav class="navbar">
            <a href="products">Search</a>
            <a href="#">Upload offer</a>
            <a href="upload">Import</a>
            <a href="logout">Log out</a>
        </nav>
    </header>
    <hr class="divider">

    <main class="main-content">
        <div class="product-list" id="product-list">
            <h3 id="no-items-in-cart"></h3>

            <template id="product_row">
                <div class="item">
                    <img src="../static/images/item_preview.jpg" class="item-img">
                    <div class="search-item-info">
                        <div class="item-name"></div>
                        <div class="item-id"></div>
                        <div class="item-quantity"></div>
                        <div class="item-price"></div>
                    </div>
                </div>
                <div class="butt">
                    <!-- <input type="number" name="quantity-form" pattern="\d*" id="quantity-form" step="1" min="0" value="0" placeholder="Enter the quantity"> -->
                    <div class="button-wrapper">
                        <button class="change-qty-btn" id="remove-one" type="image"><img src="..\static\images\remove-minus.png" style="height: 31px; width: 31px; padding-bottom: 3px;" alt="rem"></button>
                        <input type="number" class = "quantity-form" pattern="\d*" id="quantity-form"  min="1" value="1"></input>
                        <button class="change-qty-btn" id="add-more"><img src="..\static\images\add.png" style="height: 31px; width: 31px; padding-bottom: 3px;" alt="add"></button>
                    </div>
                    <div class="item-price-total-wrapper">
                        <h3>Total:</h3>
                        <h3 class="item-price-total" id="">.</h3>
                        <h3>RUB</h3>

                    </div>

                </div>

                <hr class="item-divider">


            </template>

        </div>
        <div class="clear-cart-container">
            <button class="clear-cart-button" id="clear-cart-button" onclick="clearCart()">Clear cart</button>

        </div>

        <hr class="divider">

        <div class="info-container" id="info-container">
            <form action="\downloadFiles" method="post" class="personal-info">
                    <input type="text" id="FIO" name="FIO" class="full-name">
                    <input type="text" id="phone" name="phone" class="phone-number">
                    <input type="text" id="email" name="email" class="e-mail">
                    <div class="coeff-container" id="coeff-container">
                        <h3 class="coeff-title">Coefficient:</h3>
                        <input type="number" min="0" step="0.01" class="coeff-button" id="coeff-button" name="coeff-button" oninput="changeCoeff()">
                    </div>
                <div class="summary-container">
                    <div class="total-wrapper" >
                        <div class="total-label">Total:</div>
                        <div class="total-amount" id="total-amount"></div>
                        <div class="total-amount">RUB</div>
                    </div>
                    <button class="form-pdf-button"  type="submit">Form PDF</button>
                </div>
            </form>
            
        </div>
    </main>

</section>
</body>
</html>