<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/authorization/authorization.css">
  <title>Authorization</title>
</head>
<body>
<div class="login-container">
  <div class="heading">
    Добро пожаловать!
  </div>
  <form id="loginForm" action="" method="post">

    {{ form.hidden_tag() }}
    <label>
      {{ form.username(class="input", type="text", placeholder="Имя пользователя") }}<br>
    </label>

    <div class="input-button-wrapper">
      {{ form.password(class="input", type="password", placeholder="Пароль", id="password1") }}<br>
      <div class="see-password-button" id="togglePassword">
          <img src="../static/styles/authorization/hide.png" alt="" id="seePasswordButton"/>
      </div>
    </div>

    <div class="wrong-user-notification">
      {{ message }}
    </div>

    <div class="remember-block">
      <label>
        {{ form.remember_me() }} {{ form.remember_me.label }}
      </label>
    </div>

    <button type="submit" class="apply-button" id="loginButton">Login</button>

  </form>
</div>
<script src="../static/scripts/authorization.js"></script>
</body>
</html>
