<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/styles/main/main.css">
</head>
<body>
<div class="grid-container">
    <div class="search-block">
        <div class="heading">
            Admin Panel
        </div>

        <div>
            <label for="search-input">
                <input type="text" id="search-input" class="search-line"/>
            </label>
        </div>
        <div class="items-block" id="items-block"></div>
    </div>

    <div>
        <div class="log-out-button">
            Logout
        </div>

        <div class="shopping-cart">
            <div class="shopping-cart-items" id="shopping-cart-items"></div>
        </div>
    </div>

</div>
<script src="../static/scripts/main.js"></script>
</body>
</html>