*::-webkit-scrollbar {
    width: 0 !important;
}

@media (min-width: 1000px) {
    .heading {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: right;
        font-size: 70px;
        color: white;
        margin-top: 20px;
    }

    .log-out-button {
        box-shadow: 0 4px 40px 0 #f7bb47;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        margin-top: 20px;
        width: 100px;
        height: 35px;
        background-color: white;
        border-radius: 40px;
    }

    .shopping-cart-button {
        box-shadow: 0 4px 40px 0 #f7bb47;
        grid-column-start: 3;
        grid-column-end: 3;
        text-align: center;
        margin-top: 20px;
        width: 100px;
        height: 35px;
        background-color: white;
        border-radius: 40px;
    }
}

@media (min-width: 1500px) {
    .heading {
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: right;
        font-size: 100px;
        color: white;
        margin-top: 20px;
    }

    .log-out-button {
        display: flex;
        align-items: center;
        box-shadow: 0 4px 40px 0 #f7bb47;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
        margin-top: 20px;
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius: 40px;
    }

    .log-out-button div {
        width : 100%;
    }

    .shopping-cart-button {
        display: flex;
        align-items: center;

        box-shadow: 0 4px 40px 0 #f7bb47;
        grid-column-start: 3;
        grid-column-end: 3;
        text-align: center;
        margin-top: 20px;
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius: 40px;
    }

    .shopping-cart-button div {
        width : 100%;
    }
}

@font-face {
    font-family: 'SatuFont';
    src: url('DejaVuSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: SatuFont, sans-serif;
    background-color: #18002d;
}

.item-searching-block {
    vertical-align: middle;
    line-height: 100px;
    margin-bottom: 5px;
    background-color: #f7bb47;
    text-align: center;
    border-color: black;
    border-radius: 20px;
    height: 100px;
}

.item-shopping-cart {
    vertical-align: middle;
    line-height: 100px;
    margin-bottom: 5px;
    background-color: #f7bb47;
    text-align: center;
    border-color: black;
    border-radius: 20px;
    height: 100px;
}

.add-in-shopping-cart-button {
    margin-left: 150px;
    box-shadow: 0 4px 40px 0 #f7bb47;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.items-block {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 200px;
    height: 500px;
    width: 1000px;
    margin-top: 20px;
    margin-right: 200px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap : 20px;
    justify-items: center;
}

.search-block {
    margin-left: 150px;

}

.shopping-cart {
    margin-top: 50px;
    width: 500px;
    border-radius: 40px;
    height: 750px;
    background-color: white;
}

.shopping-cart-items {
    height: 500px;
    margin-top: 20px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 20px;
}

.search-line {
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: white;
    border-radius: 40px;
    width: 1000px;
    outline: none;
    border: none;
    font-size: 30px;
    flex-grow: 1;
    color: rgb(128, 128, 128);
}