body{
    background-color: #18002d;
  }
  @font-face {
    font-family: Lydia-Bold;
    src: url(LydiaSansBold.ttf);
}
@font-face {
    font-family: Lydia-Light;
    src: url(LydiaSansLight.ttf);
}
    .cart-container {
        background-color: #18002d;
        display: flex;
        flex-direction: column;
        padding: 30px 37px 15px;
    }
    @media (max-width: 9910px) {
        .cart-container {
            padding: 20px 20px;
        }
    }
    .cart-header {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 20px;
        font-weight: 1000;
        white-space: nowrap;
    }
    @media (max-width: 991px) {
        .cart-header {
            max-width: 100%;
            flex-wrap: wrap;
            white-space: initial;
        }
    }
    .cart-title {
        color: #fff;
        align-self: end;
        margin-top: 0px;
        margin-bottom: 0px;
        flex-grow: 1;
        flex-basis: auto;
        font: 100px Lydia-Bold;
    }
    @media (max-width: 991px) {
        .cart-title {
            font-size: 70px;

        }
    }
    .cart-button-container {
        border-radius: 30px;
        box-shadow: 0px 4px 40px 0px #f7bb47;
        background-color: #d9d9d9;
        align-self: auto;
        display: flex;
        gap: 20px;
        margin-top: 10%;
        font-size: 30px;
        color: #000;
        justify-content: space-between;
        padding: 5px 16px;
        cursor: pointer;
    }
    .import-button-container {
        border-radius: 30px;
        box-shadow: 0px 4px 40px 0px #f7bb47;
        background-color: #d9d9d9;
        align-self: auto;
        display: flex;
        gap: 20px;
        margin-top: 10%;
        font-size: 30px;
        color: #000;
        justify-content: space-between;
        padding: 5px 16px;
        cursor: pointer;
    }
    .import-button-container:hover{
        background-color: #8a8a8a;
    }
    .import-button-container:active{
        background-color: #333333;
    }
    @media (max-width: 991px) {
        .cart-button-container {
            white-space: initial;
        }
    }
    .cart-button {
        font-family: Lydia-Bold;
        margin: auto ;
        
    }
    .import-button {
        font-family: Lydia-Bold;
        margin: auto ;
        
    }
    .cart-button-container:hover{
        background-color: #8a8a8a;
    }
    .cart-button-container:active{
        background-color: #333333;
    }
    .import-icon {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 50px;
    }
    .cart-icon {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 50px;
    }
    .search-bar-container{
        margin-bottom: 3%;
    }
    .search-bar {
        font-family: Lydia-Light;
        font-size: large;
        border-radius: 30px;
        background-color: #d9d9d9;
        white-space: nowrap;
        justify-content: center;
        padding: 13px 25px;
        width: 80%;
        cursor: pointer;
        margin-top: 25px;
    
    }

    .main-content {
        align-self: auto;
        width: 100%;
        max-width: 958px;
    }
    @media (max-width: 9910px) {
        .main-content {
            max-width: 100%;
        }
    }
    .content-wrapper {
        gap: 20px;
        align-self: auto;

    }
    @media (max-width: 991px) {
        .content-wrapper {
            max-width: 100%;
            flex-direction: column;
            align-items: auto;
        
        }
    }
    .form-column {
        display: grid;
        grid-column: column;
        line-height: normal;
        width: auto;

    }
    @media (max-width: 991px) {
        .form-column {
            width: 100%;
        }
    }
    .product-list {
        border-radius: 30px;
        background-color: #d9d9d9;
        width: 100%;
        max-width: 991px;
        height: auto;
    }
    @media (max-width: 991px) {
        .product-list {
            margin-top: 40px;
        }
    }
    .info-column {
        display: flex;
        flex-direction: column;
        line-height: normal;
        width: 100%;
    }
    @media (max-width: 991px) {
        .info-column {
            width: 100%;
        }
    }
    .info-container {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 700;
        margin-bottom: 40px;
    }
    @media (max-width: 991px) {
        .info-container {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    .summary-container {
        align-self: end;
        display: flex;
        margin-top: 50px;
        width: 225px;
        max-width: 100%;
        flex-direction: column;
        align-items: start;
        color: #fff;
    }
    @media (max-width: 991px) {
        .summary-container {
        }
    }
    .total-label {
        font-family: Lydia-Light;
        font-size: 150%;
    }
    @media (max-width: 991px) {
        .total-label {
        }
    }
    .total-amount {
        font-family: Lydia-Light;
        font-size: 300%;
        align-self: stretch;
    }
    .form-pdf-button {
        font-family: Lydia-Light;
        font-size: 1.5em;
        align-items: start;
        border-radius: 30px;
        box-shadow: 0px 4px 40px 0px #f7bb47;
        background-color: #d9d9d9;
        width: 100%;
        color: #000;
        justify-content: center;
        margin: 20px 0 0 0px;
        padding: 13px 20px;
        cursor: pointer;
    }

    .form-pdf-button:hover{
        background-color: #8a8a8a;
    }
    .form-pdf-button:active{
        background-color: #333333;
    }
    .item {
        padding: 10px;
        display: inline-flex ;
        justify-content: space-between;
        align-items: center;
    }
    .item img {
        width: 30%;
        height: 30%;
        border-radius: 20px;
    }
    .all-item-info {
        flex-grow: 1;
        margin-left: 5%;
    }
    .item-name,
    .item-id,
    .item-quantity,
    .item-price {
        margin: 5px 0;
        font-family: Lydia-Light;
        font-size: 100%
    }
    .add-button {
        width: 30px;
        height: 30px;
    }
    .add-button:hover{
        background-color: #8a8a8a;
        border-radius: 8px;
    }
    .add-button:active{
        background-color: #333333;
        border-radius: 8px;
    }
    .butt {
        margin-left: 2%;
        display: flex;
        justify-content: inline;
    }
    #quantity-form{
        font-family: Lydia-Light;
        font-size: medium;
        margin-right: 10px;
        min-width: 1em;
        max-width: 4em;
        height: auto;
        border-radius: 10px;
    }

